{{- if .Values.certmanager.enabled -}}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "k8s-image-swapper.fullname" . }}-cert
  labels:
    {{- include "k8s-image-swapper.labels" . | nindent 4 }}
spec:
  secretName: {{ include "k8s-image-swapper.fullname" . }}-cert
  commonName: {{ printf "%s.%s.svc" (include "k8s-image-swapper.fullname" .) .Release.Namespace }}
  dnsNames:
    - {{ printf "%s.%s.svc.%s" (include "k8s-image-swapper.fullname" .) .Release.Namespace .Values.clusterSuffix }}
    - {{ printf "%s.%s.svc" (include "k8s-image-swapper.fullname" .) .Release.Namespace }}
    - {{ printf "%s.%s" (include "k8s-image-swapper.fullname" .) .Release.Namespace }}
    - {{ include "k8s-image-swapper.fullname" . }}
  issuerRef:
    kind: {{ .Values.certmanager.issuerKind }}
    name: {{ default (printf "%s-%s" (include "k8s-image-swapper.fullname" .) "issuer") .Values.certmanager.issuerName }}
{{- end -}}
