apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name:  {{ template "k8s-image-swapper.fullname" . }}
  labels:
    {{- include "k8s-image-swapper.labels" . | nindent 4 }}
  {{- if .Values.certmanager.enabled }}
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "k8s-image-swapper.fullname" . }}-cert
  {{- end }}
webhooks:
  - name: k8s-image-swapper.github.io
    failurePolicy: {{ .Values.webhook.failurePolicy }}
    reinvocationPolicy: {{ .Values.webhook.reinvocationPolicy }}
    namespaceSelector:
      {{- toYaml .Values.webhook.namespaceSelector | nindent 6 }}
    objectSelector:
      {{- toYaml .Values.webhook.objectSelector | nindent 6 }}
    rules:
      - apiGroups:
          - "*"
        apiVersions:
          - "*"
        resources:
          - pods
        operations:
          - CREATE
          - UPDATE
    clientConfig:
      {{- if not .Values.dev.enabled }}
      service:
        namespace: {{ .Release.Namespace }}
        name: {{ template "k8s-image-swapper.fullname" $ }}
        path: /webhook
      {{- else }}
      url: {{ .Values.dev.webhookURL }}
      caBundle: ""
      {{- end }}
    admissionReviewVersions: ["v1beta1"]
    sideEffects: None
