name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v5.3.0
    - uses: actions/setup-node@v4.0.4
    - uses: pre-commit/action@v3.0.1
      env:
        SKIP: helm-docs
